<div class='row home'>
  <div class='col-3'>
    <div class='list-group list-group-dark'>
      <a ng-class='{active: tab=="popular"}' class='list-group-item' ui-sref='home.popular'>Popular on MeTube</a>
      <a ng-repeat='category in categories' class='list-group-item' ng-class='{active: tab=="{{category.name}}"}' ui-sref='home.category({category: category.name})'>{{category.name}}</a>
    </div>
    <div class='list-group list-group-normal'>
      <a class='list-group-item header' href='#'><span class='glyphicon glyphicon-user'></span>{{channel_title}}</a>
      <a ng-repeat='channel in channels' class='list-group-item hoverable' ui-sref='channel({id: channel.id})'>{{channel.username}}</a>
      <a class='list-group-item hoverable' ui-sref='browse.channels'>Browse Channels</a>
    </div>
    <div class='list-group list-group-normal'>
      <a class='list-group-item header' href='#'><span class='glyphicon glyphicon-headphones'></span>{{playlist_title}}</a>
      <a ng-repeat='playlist in playlists' class='list-group-item hoverable' ui-sref='playlist({id: playlist.id})'>{{playlist.username}} - {{playlist.name}}</a>
      <a class='list-group-item hoverable' ui-sref='browse.playlists'>Browse Playlists</a>
    </div>
  </div>
  <div class='col-9 well well-sm' ui-view>
  </div>
</div>