<div class='row multimedia'>

  <!-- main col -->  
  <div class='col-8'>
    <div ng-show='show.video' id='player' class='flowplayer functional'></div>
    <div ng-show='show.image' id='image_box'>
      <span class='helper'></span>
      <img ng-src='{{multInfo.path}}' ng-click='openModal()' class='user_image'></img>
    </div>
    <div ng-show='show.audio' class='audio flowplayer functional'><img src='/assets/wavform_lg_play.jpg' width='617' height='347'></img></div>
    <div class='multimedia-info'>
      <div class='title-area clearfix'>
        <div class='title pull-left'>
          <h2>{{multInfo.title}}</h2>
        </div>
        <div class='download-area pull-right'>
          <a ng-href="{{multInfo.path}}" class='btn btn-default' ng-click='clickedDownload($event)'><span class='glyphicon glyphicon-save'></span></a>
        </div>
      </div>
      <div class='stat-area clearfix'>
        <div class='uploader pull-left'>
          <p class='lead'>{{uploader.username}}</p>
        </div>
        <div class='like-area pull-right clearfix'>
          <div class='views pull-left'>
            <p class='lead'>{{multInfo.views}} views</p>
          </div>
          <div class='like pull-right'>
            <button class='btn btn-default' ng-class='{liked: sentimentInfo.like}' ng-click='sentiment("like")'><span class='glyphicon glyphicon-thumbs-up'></span>{{sentimentInfo.likes}}</button>
          </div>
          <div class='dislike pull-right'>
            <button class='btn btn-default'  ng-class='{disliked: sentimentInfo.dislike}' ng-click='sentiment("dislike")'><span class='glyphicon glyphicon-thumbs-down'></span>{{sentimentInfo.dislikes}}</button>
          </div>
        </div>
      </div>
      <div class='well'>
        <dl class='dl-horizontal'>
          <dt>Tags</dt>
          <dd>{{multInfo.tags}}</dd>
          <dt>Description</dt>
          <dd>{{multInfo.description}}</dd>
        </dl>
      </div>
    </div>
    <div class='panel panel-default'>
      <div class='panel-heading'>Comments</div>
      <div class='panel-body'>
      </div>
    </div>
  </div>
  <!-- end main col -->

  <!-- sidebar -->
  <div class='col-4'>
    <div class='panel panel-default'>
      <div class='panel-heading'>Sidebar Area</div>
      <div class='panel-body'>
      </div>
    </div>
  </div>
  <!-- end sidebar -->
  
</div>
