<div class='row'>

  <!-- main col -->  
  <div class='col-8'>
    <div class='multimedia-box'>
    </div>
    <div class='multimedia-info'>
      <h2>Multimedia Title</h2>
    </div>
    <div class='panel panel-default'>
      <div class='panel-heading'>Comments</div>
      <div class='panel-body'>
      </div>
    </div>
  </div>
  <!-- end main col -->

  <!-- sidebar -->
  <div class='col-4'>
    <div class='panel panel-default'>
      <div class='panel-heading'>Sidebar Area</div>
      <div class='panel-body'>
      </div>
    </div>
  </div>
  <!-- end sidebar -->
</div>