<div class='row multimedia'>

  <!-- main col -->  
  <div class='col-8'>
    <div ng-show='show.video' id='player' class='flowplayer functional'></div>
    <div ng-show='show.image' id='image_box'>
      <span class='helper'></span>
      <img ng-src='{{multInfo.path}}' ng-click='openModal()' class='user_image'></img>
    </div>
    <div ng-show='show.audio' class='audio flowplayer functional'>
      <img src='/assets/wavform_lg_play.jpg' width='617' height='347'></img>
    </div>
    <div class='multimedia-info'>
      <div class='title-area clearfix'>
        <div class='title pull-left'>
          <h2>{{multInfo.title}}</h2>
        </div>
        <div class='download-area pull-right'>
          <a ng-href='#' ng-click='clickedDownload($event)' class='btn btn-default'><span class='glyphicon glyphicon-save'></span></a>
        </div>
      </div>
      <div class='stat-area clearfix'>
        <div class='uploader pull-left'>
          <p class='lead'>{{uploader.username}}</p>
        </div>
        <div class='like-area pull-right clearfix'>
          <div class='views pull-left'>
            <p class='lead'>{{multInfo.views}} views</p>
          </div>
          <div class='like pull-right'>
            <button class='btn btn-default' ng-class='{liked: sentimentInfo.like}' ng-click='sentiment("like")'><span class='glyphicon glyphicon-thumbs-up'></span>{{sentimentInfo.likes}}</button>
          </div>
          <div class='dislike pull-right'>
            <button class='btn btn-default'  ng-class='{disliked: sentimentInfo.dislike}' ng-click='sentiment("dislike")'><span class='glyphicon glyphicon-thumbs-down'></span>{{sentimentInfo.dislikes}}</button>
          </div>
        </div>
      </div>
      <div class='well info-area'>

        <ul class="nav nav-tabs mini">
          <li class="active"><a href="#media-info" data-toggle="tab">Info</a></li>
          <li ng-show='show.playlists'><a href="#add-to" data-toggle="tab">Add To</a></li>
          <button ng-show='!show.subscribed' class='btn pull-right spacer red' ng-click='subscribe()'> <span class='glyphicon glyphicon-star'> </span> Subscribe</button>
          <button ng-show='show.subscribed' class='btn pull-right spacer red' ng-click='unsubscribe()'> <span class='glyphicon glyphicon-remove-sign'> </span> Unsubscribe</button>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade in active" id="media-info">
            <dl class='dl-horizontal'>
              <dt>Tags</dt>
              <dd>{{multInfo.tags}}</dd>
              <dt>Description</dt>
              <dd>{{multInfo.description}}</dd>
            </dl>
          </div>
          <div class="tab-pane fade" id="add-to" ng-show='show.playlists'>
            <div class='list-group mini'>
              <a class='list-group-item' ng-repeat='playlist in playlists' ng-href='' ng-click='performPlaylistAction(playlist.id)'>
                {{playlist.name}} ( {{playlist.count}} )
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class='panel panel-default'>
      <div class='panel-heading'>Comments</div>
      <div class='panel-body'>
      </div>
    </div>
  </div>
  <!-- end main col -->

  <!-- sidebar -->
  <div class='col-4'  ui-view>
  </div>
  <!-- end sidebar -->
  
</div>
