<!-- page title -->
<div class='page-header'>
  <h1>Example page header <small>Subtext for header</small></h1>
</div>
<!-- end page title -->

<!-- navbar area -->
<div id='navbar'>
</div>
<!-- end navbar area -->

<!-- main view for angularjs router -->
<div ui-view>
</div>
<!-- end main view for angularjs router -->

<!-- footer -->
<div id='footer'>
</div>
<!-- end footer -->