<!-- navbar area -->
<div id='navbar' class='navbar navbar-default' role='navigation' ng-controller='NavCtrl' ng-include src="'/partial/nav.html'">
</div>
<!-- end navbar area -->

<!-- main view for angularjs router -->
<div ui-view class='container'>
</div>
<!-- end main view for angularjs router -->

<!-- footer -->
<div id='footer' class='container'>
</div>
<!-- end footer -->