.home {
  .main-title {
    margin-bottom: 16px;
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 10px;
  }
  h2 {
    margin: 0px;
    padding: 10px;
    border-top: 1px solid red;
  }

  .height {
    min-height: 248px;
  }

  .browse-height {
    min-height: 725px;
  }

  .mult-area {
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;
    .chevron {
      line-height: 130px;
      margin: 0px;
    }
    .glyphicon-chevron-left {
      margin-left: 7px;
    }
    .glyphicon-chevron-right {
      margin-right: 7px;
    }
    .chevron:hover {
      cursor: pointer;
    }
    .chevdisabled {
      color: #bbbbbb;
    }
    .chevdisabled:hover {
      cursor: default;
    }
    .row {
      margin-left: 0px;
      margin-right: 0px;
      width: 650px;
      display: inline-block;
      .col-4 {
        padding: 3px;
        a.thumbnail {
          margin-bottom: 3px;
          color: black;
        }
        a.thumbnail:hover {
          border-color: #F57171;
          color: black;
        }
      }
    }
  }
  .col-3 {
    $red-color: #f73232;
    $grey-color: #606060;
    $grey-darker: #505050;
    $gery-ligher: #777777;
    .list-group-dark {
      .list-group-item {
        background-color: $grey-color;
        color: white;
        border-color: $grey-darker;
      }
      .list-group-item:hover {
        background-color: $gery-ligher;
      }
      .active {
        background-color: $red-color;
        border-color: $red-color;
        color: white;
      }
      .active:hover {
        background-color: $red-color;
        border-color: $red-color; 
      }
    }
    .list-group-normal {
      a.header, a.header:hover {
        border: 1px solid #e3e3e3;
        cursor: default;
        background-color: #f5f5f5;
        color: #3c3c3c;
        font-weight: bold;
        font-size: 18px;
      }
      .hoverable {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .hoverable:hover {
        border-left: 3px solid red;
        padding-left: 13px;
      }
    }
  }
}