// Place all the styles related to the Layout controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// globally available css
.buffer-30 {
  height: 30px;
}
.container {
  max-width: none !important;
  width: 970px !important;
}
.glyphicon {
  margin-right: 10px;
}