.multimedia {
  #player {
    background-color: black !important;
  }
  .dl-horizontal {
    margin-bottom: 0px;
  }
  .title-area {
    overflow: hidden;
    .title {
      width: 500px;
      overflow: hidden;
      h2 {
        margin-top: 10px;
      }
    }
    .download-area {
      margin-top: 8px;
      .glyphicon {
        margin-right: 0;
      }
    }
  }
  .stat-area {
    .uploader {
      max-width: 300px;
    }
    .like-area {
      display: inline-block;
      position: relative;
      .views {
        margin-right: 20px;
      }
      .dislike {
        margin-right: 6px;
      }
      .liked {
        color: green;
      }
      .disliked {
        color: red;
      }
    }
  }
  .info-area{
    .mini{
      font-size:  10px;
    }
    .tab-content{
      padding: 5px 0 5px 100px;
    }
    dl{
      padding-bottom: 60px;
    }
    dt{
      text-align: left;
    }
    .playlist-panel{
      background-color: #AAA3AD;
    }
    .list-group{
      margin-bottom: 0;
      margin-top: 10px;
      overflow: scroll;
      max-height: 480px;
      a:hover{
        background-color: #232323;
        color: #fff;
      }
    }
  }
  #image_box {
    background-color: black;
    width: 617px;
    min-height: 347px;
    text-align: center;
    .helper {
      line-height: 347px;
      vertical-align: middle;
    }
    .user_image {
      display: inline-block;
      vertical-align: middle;
      max-width: 617px;
    }
  }
  .audio {
    height: 347px;
  }

  .playlist-sidebar {
    .panel-body {
      background-color: #eee;
    }

    .now-playing {
      background-color: #232323;
      color: #fff;
    }

    .now-playing:hover {
      font-weight: 500;
    }

    .not-playing {
      color: #232323;
    }

    .not-playing:hover {
      font-weight: 500;
    }

    .thumbnail {
      width: 80px;
      height: 48px;
      margin-bottom: 5px;
      padding: 0;
    }

    .push-down {
      padding-top: 15px;
    }

    .small {
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 10px;
    }
  }  
}
.leftModal {
  .modal-dialog {
    margin: 20px;
    width: 0px;
  }

}
