.multimedia {
  #player {
    background-color: black !important;
  }
  .dl-horizontal {
    margin-bottom: 0px;
  }
  .title-area {
    overflow: hidden;
    .title {
      width: 500px;
      overflow: hidden;
      h2 {
        margin-top: 10px;
      }
    }
    .download-area {
      margin-top: 8px;
      .glyphicon {
        margin-right: 0;
      }
    }
  }
  .stat-area {
    .uploader {
      max-width: 300px;
    }
    .like-area {
      display: inline-block;
      position: relative;
      .views {
        margin-right: 20px;
      }
      .dislike {
        margin-right: 6px;
      }
      .liked {
        color: green;
      }
      .disliked {
        color: red;
      }
    }
  }
  .info-area{
    position: relative;
    padding-bottom: 0;
    ul.nav-tabs a {
      color: black;
    }
    .mini{
      font-size:  10px;
    }
    .subscribe-btn {
      position: absolute;
      top: 11px;
      right: 19px;
    }
    .list-group-item {
      border: 0;
      border-bottom: 1px solid #DDD;
      margin-bottom: 0;
    }
    .list-group-item:last-child {
      border-bottom: none;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .list-group-item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
    .panel-override, .panel-body-override {
      border-radius: 0;
      padding: 0;
    }
    .panel {
      border-top: none;
      border-radius: 0;
    }
    dt{
      text-align: left;
    }
    .playlist-panel{
      background-color: #AAA3AD;
    }
    .red {
      background-color: red;
      color: white;
    }
    .list-group{
      margin-bottom: 0;
      border-radius: 0;
      a:hover{
        background-color: #232323;
        color: #fff;
      }
    }
  }
  #image_box {
    background-color: black;
    width: 617px;
    min-height: 347px;
    text-align: center;
    .helper {
      line-height: 347px;
      vertical-align: middle;
    }
    .user_image {
      display: inline-block;
      vertical-align: middle;
      max-width: 617px;
    }
  }
  .audio {
    height: 347px;
  }

  .playlist-sidebar {
    .panel-body {
      background-color: #eee;
    }

    .now-playing {
      background-color: #232323;
      color: #fff;
    }

    .now-playing:hover {
      font-weight: 500;
    }

    .not-playing {
      color: #232323;
    }

    .not-playing:hover {
      font-weight: 500;
    }

    .thumbnail {
      width: 80px;
      height: 48px;
      margin-bottom: 5px;
      padding: 0;
    }

    .push-down {
      padding-top: 15px;
    }

    .small {
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 10px;
    }
  }  
  .comments {
    blockquote {
      border-left: 5px solid #FF9191;
      padding-bottom: 5px;
    }
    .reply-link span {
      color: #ccc;
      padding-left: 10px;
    }
    .inner-reply {
      padding-left: 10px;
      margin-left: 30px;
      border-left: 3px solid #eee;

      .form-group {
        margin-bottom: 8px;
      }
      .remove-span {
        line-height: 26px;
        margin-left: 5px;
      }
    }
    .child-block {
      margin-left: 30px;
      border-left: 3px solid #FF9191;
    }
    small {
      line-height: 1.7em;
    }
  }
  .recommended {
    .panel-body {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .list-entry {
      padding: 5px 0px 5px 0px;
    }
    div.text-area {
      padding: 7px 0 7px 5px;
      font-weight: bold;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 160px;
      .userarea {
        color: #ccc;
        font-weight: normal;
      }
      .username {
        color: #bbb;
        font-weight: bold;
      }
      a {
        color: black;
        text-decoration: none;
      }
      a:hover {
        color: #52A8C4;
        text-decoration: none;
      }
    }
  }
}
.leftModal {
  .modal-dialog {
    margin: 20px;
    width: 0px;
  }

}
