div.navbar {
  .red {
    color: #a94442;
  }
  .red:hover {
    color: #a94442;
  }
  .search-box {
    width: 300px;
    margin-left: 50px;
  }
  ul.dropdown-menu {
    margin-top: -6px;
  }
  .upload-area {
    margin-left: 100px;
  }
}
