<div class='panel panel-default'>
  <div class='panel-heading'>Home</div>
  <div class='panel-body'>
    <h2 class='h2lower lead'>View Count to Sentiment</h2>
    <hr>
    <div id='chartContainer'></div>
  </div>
</div>