<div class='panel panel-default'>
<div class='panel-heading'>
My Subscriptions
</div>
<div class='panel-body'>

  <div class='list-group'>

    <table class='table table-striped'>
      <tr>
        <th> Channel </th>
        <th> Unsubscribe? </th>
        <th> View </th>
      </tr>

      <tr ng-repeat='subscription in subscriptions'>
        <td> {{subscription.username}} </td>
        <td> <a ng-click='unsubscribe(subscription.subscription_id)'> <button class='btn btn-danger'> <span class='glyphicon glyphicon-remove-sign'></span> Unsubscribe</button> </a> </td>
        <td> <a ng-href='/channel/{{subscription.subscription_id}}'><button class='btn btn-info'> View </button></a> </td>
      </tr>
    </table>

  </div>

</div>
</div>