<div class="panel panel-default uploads">
  <div class="panel-heading">My Uploads</div>
  <div class="panel-body">

    <div class="media-header">
      <p class='lead'>Videos</p>
    </div>
    <hr class='divider'>
    <div class="row min-view-height">
      <div class='col-1 push-down slide-left' > <a ng-click='previousPage(videosPagingHash)'><span ng-show='videosPagingHash.showPrevious' class='glyphicon glyphicon-chevron-left'></span></a></div>
      <div ng-repeat='video in videos | startFrom: videosPagingHash.startFrom | limitTo: 3'  class="col-3">
        <a href='/multimedia/{{video.id}}' class="thumbnail">
          <img src={{video.thumbnail_path}} alt={{video.title}}>
        </a>
        <p> {{video.title}}</p>
      </div>
      <div class='col-1 push-down'> <a ng-click='nextPage(videosPagingHash)'><span ng-show='videosPagingHash.showNext' class='glyphicon glyphicon-chevron-right'></span></a></div>
    </div>

    <div class='media-header'>
      <p class='lead'>Images</p>
    </div>
    <hr class='divider'>
    <div class='row min-view-height'>
      <div class='col-1 push-down slide-left' > <a ng-click='previousPage(imagesPagingHash)'><span ng-show='imagesPagingHash.showPrevious' class='glyphicon glyphicon-chevron-left'></span></a></div>
      <div ng-repeat='image in images | startFrom: imagesPagingHash.startFrom | limitTo: 3'  class="col-3">
        <a href='/multimedia/{{image.id}}' class="thumbnail">
          <img src={{image.thumbnail_path}} alt={{image.title}}>
        </a>
        <p> {{image.title}}</p>
      </div>
      <div class='col-1 push-down'> <a ng-click='nextPage(imagesPagingHash)'><span ng-show='imagesPagingHash.showNext' class='glyphicon glyphicon-chevron-right'></span></a></div>
    </div>

    <div class='media-header'>
      <p class='lead'>Audio</p>
    </div>
    <hr class='divider'>
    <div class='row min-view-height'>
      <div class='col-1 push-down slide-left' > <a ng-click='previousPage(audioPagingHash)'><span ng-show='audioPagingHash.showPrevious' class='glyphicon glyphicon-chevron-left'></span></a></div>
      <div ng-repeat='audio in audios | startFrom: audioPagingHash.startFrom | limitTo: 3'  class="col-3">
        <a href='/multimedia/{{audio.id}}' class="thumbnail">
          <img src={{audio.thumbnail_path}} alt={{audio.title}}>
        </a>
        <p> {{audio.title}}</p>
      </div>
      <div class='col-1 push-down'> <a ng-click='nextPage(audioPagingHash)'><span ng-show='audioPagingHash.showNext' class='glyphicon glyphicon-chevron-right'></span></a></div>
    </div>

    <div class='media-header' ng-show='videosInProgress.length'>
      <p class='lead'>In Progress</p>
      <hr class='divider'>
    </div>
    <div class='row' ng-show='videosInProgress.length'>
      <div ng-repeat='video in videosInProgress | limitTo:3' class='col-4'>
        <small>
          <em> {{video.title}} </em>
        </small>
        <progressbar class='progress-striped' value='video.progress' type='info'> {{video.progress}}% </progressbar>
      </div> 
    </div>

  </div>
</div>