<div class='panel panel-danger'>
<div class='panel-heading'>
My Subscriptions
</div>
<div class='panel-body'>

  <div class='list-group'>
    <a class='list-group-item' ng-repeat='subscription in subscriptions' ng-href='/channel/{{subscription.subscription_id}}'>
      {{subscription.username}}
    </a>

  </div>

</div>
</div>