<div class='panel panel-default'>
  <div class='panel-heading'>My Information</div>
  <div class='panel-body'>
    
    <div class='row'>

      <form novalidate class='form-horizontal' role='form'  name='profileform' ng-submit='changeInfo()'>

        <div class='buffer-30'></div>

        <div class='form-group'>
          <label class='col-5 control-label' for='firstname'>First Name</label>
          <div class='col-5'>
            <input id='firstname' class='form-control' type='text' name='firstname' ng-model='formData.firstname'>
          </div>
        </div>

        <div class='form-group'>
          <label class='col-5 control-label' for='lastname'>Last Name</label>
          <div class='col-5'>
            <input id='lastname' class='form-control' type='text' name='lastname' ng-model='formData.lastname'>
          </div>
        </div>

        <div class='form-group'>
          <label class='col-5 control-label' for='email'>Email</label>
          <div class='col-5'>
            <input id='email' class='form-control' type='email' name='email' ng-model='formData.email' required>
            <p class='error-helper text-danger' ng-show='profileform.email.$error.required && showErrorsOne'>please enter an email address</p>
            <p class='error-helper text-danger' ng-show='profileform.email.$error.email && !profileform.email.$error.required && showErrorsOne'>invalid email address</p>
          </div>
        </div>

        <div class='form-group'>
          <label class='col-5 control-label' for='phone'>Phone</label>
          <div class='col-5'>
            <input id='phone' class='form-control' type='text' name='phone' ng-model='formData.phone'>
          </div>
        </div>

        <div class='text-danger text-center'>{{errorMessageOne}}</div>
        <div class='text-success text-center'>{{successMessageOne}}</div>

        <div class='buffer-30'></div>

        <div class='col-4'></div>
        <div class='col-4'>
          <button class='btn btn-primary btn-lg btn-block' type='submit'>Update Information</button>
        </div>
      
      </form>

    </div>

    <div class='buffer-30'></div>

  </div>
</div>

<div class='panel panel-default'>
  <div class='panel-heading'>Change Password</div>
  <div class='panel-body'>
    
    <div class='row'>

      <form novalidate class='form-horizontal' role='form'  name='passform' ng-submit='changePass()'>

        <div class='buffer-30'></div>

        <div class='form-group'>
          <label class='col-5 control-label' for='oldpassword'>Old Password</label>
          <div class='col-5'>
            <input id='oldpassword' class='form-control' type='password' name='oldpassword' ng-model='pwdFormData.oldpassword' required ng-minlength='6'>
            <p class='error-helper text-danger' ng-show='passform.oldpassword.$error.required && showErrorsTwo'>please enter your old password</p>
            <p class='error-helper text-danger' ng-show='passform.oldpassword.$error.minlength && !passform.oldpassword.$error.required && showErrorsTwo'>password must be at least 6 characters</p>
          </div>
        </div>

        <div class='form-group'>
          <label class='col-5 control-label' for='encrypted_password'>New Password</label>
          <div class='col-5'>
            <input id='encrypted_password' class='form-control' type='password' name='encrypted_password' ng-model='pwdFormData.encrypted_password' required ng-minlength='6'>
            <p class='error-helper text-danger' ng-show='passform.encrypted_password.$error.required && showErrorsTwo'>please choose a password</p>
            <p class='error-helper text-danger' ng-show='passform.encrypted_password.$error.minlength && !passform.encrypted_password.$error.required && showErrorsTwo'>password must be at least 6 characters</p>
          </div>
        </div>

        <div class='form-group'>
          <label class='col-5 control-label' for='password_confirmation'>Confirm Password</label>
          <div class='col-5'>
            <input id='password_confirmation' class='form-control' type='password' name='password_confirmation' ng-model='pwdFormData.password_confirmation' required ng-minlength='6'>
            <p class='error-helper text-danger' ng-show='passform.password_confirmation.$error.required && showErrorsTwo'>please re-type password</p>
            <p class='error-helper text-danger' ng-show='passform.password_confirmation.$error.minlength && !passform.password_confirmation.$error.required && showErrorsTwo'>password must be at least 6 characters</p>
          </div>
        </div>

        <div class='text-danger text-center' ng-show='pwdFormData.encrypted_password !== pwdFormData.password_confirmation && showErrorsTwo'>your passwords must match</div>
        <div class='text-danger text-center'>{{errorMessageTwo}}</div>
        <div class='text-success text-center'>{{successMessageTwo}}</div>

        <div class='buffer-30'></div>

        <div class='col-4'></div>
        <div class='col-4'>
          <button class='btn btn-primary btn-lg btn-block' type='submit'>Change Password</button>
        </div>
      
      </form>

    </div>

    <div class='buffer-30'></div>

  </div>
</div>