<div class='row dashboard'>
  <div class='col-3'>
    <h3>Dashboard</h3>
    <ul class='nav nav-pills nav-stacked'>
      <li ng-class='{active: tab=="home"}'><a ui-sref='dashboard.home'>Home</a></li>
      <li ng-class='{active: tab=="profile"}'><a ui-sref='dashboard.profile'>Profile</a></li>
      <li ng-class='{active: tab=="uploads"}'><a ui-sref='dashboard.uploads'>Uploads</a></li>
      <li ng-class='{active: tab=="playlists"}'><a ui-sref='dashboard.playlists'>Playlists</a></li>
    </ul>
  </div>
  <div class='col-9' ui-view>
  </div>
</div>
