<div class="panel panel-default">
  <div class="panel-heading">Uploads</div>
  <div class="panel-body">

    <div class="panel panel-default">
      <div class="panel-heading">Videos</div>
      <div class='panel-body'>
          some videos
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Images</div>
      <div class='panel-body'>
          some images
      </div>
    </div>    

    <div class="panel panel-default">
      <div class="panel-heading">Audio</div>
      <div class='panel-body'>
          some audio
      </div>
    </div>    

  </div>
</div>