<div class='panel panel-danger'>
<div class='panel-heading'>
My Subscriptions
</div>
<div class='panel-body'>

  <div class='list-group'>
    <a class='list-group-item'>
      <p> Text </p>
    </a>
  </div>

</div>
</div>